.customized-recent-comments .avatar { float:left; padding:0 5px 0 0; }
.customized-recent-comments h3 { font-size:1.1em; font-weight:bold; }
.customized-recent-comments .comment-meta { font-size:.9em; }