.DS_Store

.com.apple.timemachine.supported

wp-config.php

sitemap.xml

sitemap.xml.gz

wp-content/cache

wp-content/uploads

wp-content/advanced-cache.php

wp-content/fv-gravatar-cache

wp-content/themes

wp-content/plugins